.container--with-border {
  justify-content: center;
  border: 1px solid #cacaca;
  padding: 10px;
  border-radius: 10px;
}

.container--with-border h3 {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #cacaca;
}

.lab__title {
  margin-top: 3em;
  max-width: 60%;
  margin-bottom: 2em;
}
